<!-- LandingComponent -->
<div class="wrapper h-full flex flex-col justify-center lg:justify-start">
    <div class="grid place-items-center h-3/4 md:h-2/3">
        <div class="logo-container w-2/3 md:w-1/2">
            <img src="assets/svg/logo.svg" alt="Palombi" class="logo">
        </div>
        
        <nav class="w-2/3 md:w-1/4">
            <ul class="grid grid-cols-1 auto-rows-auto gap-y-4">
                <li>
                    <a routerLink="/capteurs" title="Gérer les capteurs.">
                        <button class="btn-menu h-16 py-2 justify-between bg-blue-500 hover:bg-blue-700">
                            <span>Gestion des Capteurs</span>
                            <img src="assets/icons/64/capteur.png" alt="Note" class="icon-md" />
                        </button>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/add-points']" title="Saisir des points et des valeurs dans le temps.">
                        <button class="btn-menu h-16 py-2 justify-between bg-blue-500 hover:bg-blue-700">
                            <span>Saisie Manuelle</span>
                            <img src="assets/icons/64/capteur.png" alt="Note" class="icon-md" />
                        </button>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/imports']" title="Gérer les imports CSV.">
                        <button class="btn-menu h-16 py-2 justify-between bg-blue-500 hover:bg-blue-700">
                            <span>Gestion des Imports</span>
                            <img src="assets/icons/64/capteur.png" alt="Note" class="icon-md" />
                        </button>
                    </a>
                </li>
                <li>
                    <a href="http://localhost:3000" target="_blank" title="Lien rapide vers Grafana.">
                        <button class="btn-menu h-16 py-2 justify-between bg-yellow-500 hover:bg-yellow-400">
                            <span>Aller a Grafana</span>
                            <img src="assets/icons/64/capteur.png" alt="Note" class="icon-md" />
                        </button>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>