<div class="mt-6">
    <div *ngFor="let bloc of blocs; let i = index" class="grid justify-items-stretch grid-cols-8 gap-2 mt-2">
        <input type="date" placeholder="JJ/MM/AAAA" class="col-span-3 rounded-md" [(ngModel)]="bloc.date" required>
        <input type="time" placeholder="HH:MM" class="col-span-2 rounded-md" [(ngModel)]="bloc.time" required>
        
        <div class="col-span-3 flex">
            <input type="number" placeholder="Valeur" class="rounded-l-md" [(ngModel)]="bloc.value" required>

            <!-- Supprimer la ligne en cours. -->
            <button type="button" id="increment-button-year" data-input-counter-increment="quantity-input" class="btn-remove" (click)="supprimer(i)" [disabled]="i == 0" [ngClass]="i == 0 ? 'disabled' : 'enabled'">
                <svg class="w-4 h-4 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
    </div>

    <!-- Ajout de données. -->
    <div class="grid grid-cols-6 gap-0 mt-6">
        <small class="col-span-6 flex items-center pl-1 text-gray-600">Ce bouton permet d'ajouter plus de points.</small>
        <button class="col-span-6 py-1 rounded-md text-white bg-blue-800 w-full" type="button" (click)="onAjouter(blocs.length - 1)">Ajouter</button>
    </div>

    <!-- Fourni des indications et statuts lors de l'envoi des données. -->
    <div class="grid grid-cols-2 gap-0 my-6">
        <button class="col-span-2 px-2 flex items-center bg-gray-200 rounded-md h-[36px]">
            <img *ngIf="isLoading" src="assets/svg/loading.svg" alt="Loading Icon" class="h-[36px]">
            <span class="text-blue-700">{{ message }}</span>
        </button>
    </div>
    
    <!-- Confirmation et validation. -->
    <div class="grid grid-cols-6 gap-0 mt-6">
        <small class="col-span-6 flex items-center pl-1 text-gray-600">Vous devez cliquer sur confirmer avant de valider.</small>
        <button class="col-span-2 bg-gray-200 text-black py-1 rounded-l-md disabled:bg-slate-400" (click)="onConfirm()">Confirmer</button>
        <button class="col-span-4 bg-sky-600 py-1 rounded-r-md disabled:bg-slate-400" title="Vous pourrez continuer ensuite de saisir des données." (click)="onSubmitHour()" [disabled]="!confirm">Envoyer</button>
    </div>
</div>